<div>
	   <h2>Access Denied</h2>
	      <p>You do not have access to this application.<br>Please contact your system administrator!</p>
	         <br><br>
		    <%= link_to 'Sign out', '/auth/logout', class: 'btn btn-warning' %>
		     </div>
