<%= form_for(@meta_checker) do |f| %>
<div style="display:block;width:75%;margin:auto;"><h1 style="text-align:center;">!!!!!!!::::::::: NEW META CHECKER :::::::::!!!!!!!</h1>
  <div>
  <%= f.text_area :input,  style: "display:block;width:80%;margin:auto;font-size:2em", rows: 10 %>
  </div><div>
  <%= f.submit  "Check Some Meta!!!!!!!!!!!!!!" , style: "display:block;width:25%;margin:auto;font-size:2em"%>
  </div>
  </div>
<% end %>